[flake8]
ignore = E203, W503, F401, I004, F403, F405
max-line-length = 88
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    env,
    venv,
    .tox
    migrations
show-source = True
max-complexity = 10
statistics = True
enable-extensions = G